<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table with cars</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th style="padding: 20px;">Type</th>
            <th style="padding: 20px;">Number</th>
            <th style="padding: 20px;">lifting Capacity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td style="padding: 20px;" th:text="${car.carType}"></td>
            <td style="padding: 20px;" th:text="${car.carNumber}"></td>
            <td style="padding: 20px;" th:text="${car.liftingCapacity}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>